<%= button_to @name, @html_options.merge(form_class: "", class: container_classes, data: { controller: identifier }) do %>
  <div class="<%= content_classes %>">
    <%= icon %>
    <%= text %>
  </div>
  <% unless disabled %>
    <div class="<%= overlay_classes %>">
    </div>
  <% end %>
<% end %>
