<!DOCTYPE html>
<html>
<head>
  <title>Material view components</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "material_view_components/application", media: "all" %>
  <%= javascript_include_tag "application", defer: true %>
</head>
<body>

<%= yield %>

=======
<body class="p-8">
  <%= yield %>
</body>
</html>
